@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-height: 810px) {
    .footer {
        position: fixed !important;
        top: calc(100% - 70px) !important;
    }
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}